{% extends 'app_documents/base.html' %}   <!-- Change 'base_generic.html' to your base template -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="login-container">
                <h3 class="text-center mb-4">QUÊN MẬT KHẨU</h3>
                <form method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Nhập địa chỉ Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email" id="email" oninvalid="this.setCustomValidity('Chưa điền email đã đăng kí')" oninput="setCustomValidity('')" required>
                    </div>
                    <div class="d-flex justify-content-center"> 
                        <button type="submit" class="btn btn-primary btn-block">LẤY LẠI MẬT KHẨU</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>
{% endblock %}