        Xin chào {{ user.last_name }} {{ user.first_name }},

    Bạn nhận được email này bởi vì bạn đã yêu cầu đặt lại mật khẩu cho tài khoản {{ user.username }} tại hệ thống quản lý chứng từ của F88. Vui lòng truy cập vào trang sau và chọn mật khẩu mới:
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    
    Nếu bạn không yêu cầu điều này, bạn có thể bỏ qua email này.

    Trân trọng,
    Team chứng từ F88

    Địa chỉ: 118-120 Đường B2, Khu Đô Thị Sala, An Lợi Đông, Thành phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam.

    Nếu bạn không muốn nhận thêm email từ chúng tôi vui lòng liên hệ với chúng tôi qua email: phongvanhanh@f88.vn để từ chối nhận email.