{% extends 'app_documents/base.html' %}  
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="login-container">
                <h3 class="text-center mb-4">ĐÃ GỬI EMAIL</h3>
                <p class="text-center">Yêu cầu lấy lại mật khẩu đã được gửi tới địa chỉ {{user.email}}</p>
                <p class="text-center">Vui lòng kiểm tra email của bạn để xác nhận tài khoản</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}