{% extends 'app_documents/base.html' %} 
{% block content %}

<!-- Table 2 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-8">
        <div class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="card-title widget-card-title mb-4">Marketing Campaigns</h5>
            <div class="table-responsive">
              <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                <thead>
                  <tr>
                    <th>Campaign</th>
                    <th>Client</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Budget</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="fs-6 bsb-w-35 bsb-h-35 text-bg-primary rounded-circle d-flex align-items-center justify-content-center me-2">
                          <i class="bi bi-twitter-x"></i>
                        </span>
                        <div>
                          <h6 class="m-0">Twitter</h6>
                          <span class="text-secondary fs-7">SMM</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6 class="mb-1">Oliver</h6>
                      <span class="text-secondary fs-7">United States</span>
                    </td>
                    <td>
                      <h6 class="mb-1">Bootstrap</h6>
                      <span class="text-secondary fs-7">v5.3+</span>
                    </td>
                    <td>
                      <span class="badge bg-danger bsb-w-85">Pending</span>
                    </td>
                    <td>$495</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="fs-6 bsb-w-35 bsb-h-35 text-bg-success rounded-circle d-flex align-items-center justify-content-center me-2">
                          <i class="bi bi-facebook"></i>
                        </span>
                        <div>
                          <h6 class="m-0">Facebook</h6>
                          <span class="text-secondary fs-7">PPC</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6 class="mb-1">Emma</h6>
                      <span class="text-secondary fs-7">United Kingdom</span>
                    </td>
                    <td>
                      <h6 class="mb-1">WordPress</h6>
                      <span class="text-secondary fs-7">v6.3+</span>
                    </td>
                    <td>
                      <span class="badge bg-success bsb-w-85">Paid</span>
                    </td>
                    <td>$950</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="fs-6 bsb-w-35 bsb-h-35 text-bg-danger rounded-circle d-flex align-items-center justify-content-center me-2">
                          <i class="bi bi-github"></i>
                        </span>
                        <div>
                          <h6 class="m-0">Github</h6>
                          <span class="text-secondary fs-7">PPC</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6 class="mb-1">Isabella</h6>
                      <span class="text-secondary fs-7">Canada</span>
                    </td>
                    <td>
                      <h6 class="mb-1">React</h6>
                      <span class="text-secondary fs-7">v18+</span>
                    </td>
                    <td>
                      <span class="badge bg-info bsb-w-85">Paused</span>
                    </td>
                    <td>$700</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="fs-6 bsb-w-35 bsb-h-35 bg-info text-white rounded-circle d-flex align-items-center justify-content-center me-2">
                          <i class="bi bi-youtube"></i>
                        </span>
                        <div>
                          <h6 class="m-0">YouTube</h6>
                          <span class="text-secondary fs-7">SMM</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6 class="mb-1">William</h6>
                      <span class="text-secondary fs-7">UAE</span>
                    </td>
                    <td>
                      <h6 class="mb-1">Vue</h6>
                      <span class="text-secondary fs-7">v3+</span>
                    </td>
                    <td>
                      <span class="badge bg-warning bsb-w-85">Active</span>
                    </td>
                    <td>$875</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="fs-6 bsb-w-35 bsb-h-35 bg-warning text-white rounded-circle d-flex align-items-center justify-content-center me-2">
                          <i class="bi bi-google"></i>
                        </span>
                        <div>
                          <h6 class="m-0">Google</h6>
                          <span class="text-secondary fs-7">SEM</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6 class="mb-1">Preston</h6>
                      <span class="text-secondary fs-7">Australia</span>
                    </td>
                    <td>
                      <h6 class="mb-1">Svelte</h6>
                      <span class="text-secondary fs-7">v4+</span>
                    </td>
                    <td>
                      <span class="badge bg-primary bsb-w-85">Closed</span>
                    </td>
                    <td>$1230</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Card 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 col-xxl-7">
        <div class="row gy-4">
          <div class="col-12 col-sm-6">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-8">
                    <h5 class="card-title widget-card-title mb-3">Sales</h5>
                    <h4 class="card-subtitle text-body-secondary m-0">$6,820</h4>
                  </div>
                  <div class="col-4">
                    <div class="d-flex justify-content-end">
                      <div class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                        <i class="bi bi-truck fs-4"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex align-items-center mt-3">
                      <span class="lh-1 me-3 bg-danger-subtle text-danger rounded-circle p-1 d-flex align-items-center justify-content-center">
                        <i class="bi bi-arrow-right-short bsb-rotate-45"></i>
                      </span>
                      <div>
                        <p class="fs-7 mb-0">-9%</p>
                        <p class="fs-7 mb-0 text-secondary">since last week</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-8">
                    <h5 class="card-title widget-card-title mb-3">Earnings</h5>
                    <h4 class="card-subtitle text-body-secondary m-0">$21,900</h4>
                  </div>
                  <div class="col-4">
                    <div class="d-flex justify-content-end">
                      <div class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                        <i class="bi bi-currency-dollar fs-4"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex align-items-center mt-3">
                      <span class="lh-1 me-3 bg-success-subtle text-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                        <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                      </span>
                      <div>
                        <p class="fs-7 mb-0">+26%</p>
                        <p class="fs-7 mb-0 text-secondary">since last week</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-8">
                    <h5 class="card-title widget-card-title mb-3">Visitors</h5>
                    <h4 class="card-subtitle text-body-secondary m-0">3,764</h4>
                  </div>
                  <div class="col-4">
                    <div class="d-flex justify-content-end">
                      <div class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                        <i class="bi bi-person fs-4"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex align-items-center mt-3">
                      <span class="lh-1 me-3 bg-success-subtle text-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                        <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                      </span>
                      <div>
                        <p class="fs-7 mb-0">+69%</p>
                        <p class="fs-7 mb-0 text-secondary">since last week</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-8">
                    <h5 class="card-title widget-card-title mb-3">Orders</h5>
                    <h4 class="card-subtitle text-body-secondary m-0">786</h4>
                  </div>
                  <div class="col-4">
                    <div class="d-flex justify-content-end">
                      <div class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart fs-4"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex align-items-center mt-3">
                      <span class="lh-1 me-3 bg-danger-subtle text-danger rounded-circle p-1 d-flex align-items-center justify-content-center">
                        <i class="bi bi-arrow-right-short bsb-rotate-45"></i>
                      </span>
                      <div>
                        <p class="fs-7 mb-0">-21%</p>
                        <p class="fs-7 mb-0 text-secondary">since last week</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}